<!DOCTYPE html>
<html lang="en">
<head>
<title>Home</title>
<link href="../public/stylesheets/studbud.css" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" href="../favicon.ico" />
</head>

<body>
<div class="home-box">
	<div class="home-left">
		<div class="logo-box"><a href="home.html"><img src="../public/images/logo.png" alt="" /></a></div>
		<div class="list1-current"><a href="home.html">Home</a></div>
		<div class="list2"><a href="task.html">Task</a></div>
		<div class="list3"><a href="timer1.html">Timer</a></div>
		<div class="list4"><a href="music.html">Music</a></div>
		<div class="list5"><a href="ReadingList.html">Reading list</a></div>
	</div>
	<div class="home-right">
		<div class="right-top">
			<p>StudBud - Home</p>						
			<div class="picture"><a href="#"><img src="../public/images/picture.png" alt="" /></a></div>
			<div class="news"><a href="#"><img src="../public/images/news.png" alt="" /></div>
		</div>
		<div class="right-content">
			<div class="box">
				<a href="task.html">
					<img src="../public/images/Task.png" alt="" border="0" />
					<p>Task</p>
			  </a>
		  </div>
			<div class="box">
				<a href="timer.html">
					<img src="../public/images/Timer.png" alt="" />
					<p>Timer</p>
			  </a>
		  </div>
			<div class="box">
				<a href="ReadingList.html">
					<img src="../public/images/Reading list.png" alt="" />
					<p>Reading list</p>
				</a>
			</div>
			<div style=" margin-right:0px;" class="box">
				<a href="music.html">
					<img src="../public/images/Music.png" alt="" />
					<p>Music</p>
				</a>
			</div>
		</div>
	</div>
</div>
</body>
</html>
