<!DOCTYPE html>
<html lang="en">
<head>
<title>Reading List</title>
<link href="../public/stylesheets/studbud.css" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" href="../favicon.ico" />
<script src="../public/javascripts/DateUtil.js"></script>
</head>

<body>
<div class="home-box">
	<div class="home-left">
		<div class="logo-box"><a href="home.html"><img src="../public/images/logo.png" alt="" /></a></div>
		<div class="list1"><a href="home.html">Home</a></div>
		<div class="list2"><a href="task.html">Task</a></div>
		<div class="list3"><a href="timer1.html">Timer</a></div>
		<div class="list4"><a href="music.html">Music</a></div>
		<div class="list5-current"><a href="ReadingList.html">Reading list</a></div>
	</div>
	<div class="home-right">
		<div class="right-top">
			<p>StudBud - Reading List</p>						
			<div class="picture"><a href="#"><img src="../public/images/picture.png" alt="" /></a></div>
			<div class="news"><a href="#"><img src="../public/images/news.png" alt="" /></a></div>
		</div>
		<div class="search-box">
			<div class="search-frame">
			<a href="#"><img src="../public/images/search.png"></a>
			<input name="" type="text">
		  </div>
		</div>	
		<div class="reading">
			<ul class="title">
				<li class="Name">Name</li>
				<li class="Link">Link</li>
				<li class="Author">Author</li>
				<li class="Date">Date</li>
			</ul>
			<ul class="data">
				<li class="Name" onclick="editData1(this)"><a href="https://muse-jhu-edu.ezproxy.library.sydney.edu.au/book/58689" target="_blank">Sharing the Everyday</a></li>
				<li class="Link" onclick="editData2(this)"><a href="https://muse-jhu-edu.ezproxy.library.sydney.edu.au/book/58689" target="_blank">https://muse-jhu-edu.ezproxy.library.sydney.edu.au/book/58689</a></li>
				<li class="Author" onclick="editData3(this)">Lee Humphreys</li>
				<li class="Date">2021-10-02</li>
			</ul>
			<ul class="data">
				<li class="Name" onclick="editData1(this)"><a href="https://www.baidu.com" target="_blank">baidu</a></li>
				<li class="Link" onclick="editData2(this)"><a href="https://www.baidu.com" target="_blank">https://www.baidu.com</a></li>
				<li class="Author" onclick="editData3(this)">Li Yanhong</li>
				<li class="Date">2019-10-09</li>
			</ul>
			<ul class="data">
				<li class="Name" onclick="editData1(this)"><a href="https://www.taobao.com" target="_blank">taobao</a></li>
				<li class="Link" onclick="editData2(this)"><a href="https://www.taobao.com" target="_blank">https://www.taobao.com</a></li>
				<li class="Author" onclick="editData3(this)">Ma Yun</li>
				<li class="Date">2018-10-10</li>
			</ul>

			<ul class="data">
				<li class="Name"><a href="#" onclick="addRefPrepare()">+ Add new</a></li>
				<li class="Link"></li>
				<li class="Author"></li>
				<li class="Date"></li>
			</ul>
		</div>		
	</div>
</div>
<script>

	function isUrl(urlStr){
		let reg=/^([hH][tT]{2}[pP]s?:\/\/|[hH][tT]{2}[pP][sS]:\/\/)/; 
		if(!reg.test(urlStr)){ 
			return false;
		}
		return true ;
	}

	function editData1(thiz) {
		let activeInput = document.getElementsByClassName('active-input');
		if(activeInput.length > 0){
			return ;
		}
		let data = thiz.firstChild.innerHTML;
		var input = document.createElement("input");
		input.value = data ;
		input.setAttribute("class", "active-input");
		thiz.innerHTML = '';
        thiz.appendChild(input);
		input.focus();
		input.onblur = function(){
			let name = input.value;
			if(!name.trim()){
				alert("Please enter the Name");
				//input.focus();
				return ;
			}
			let href = thiz.nextElementSibling.firstChild.innerHTML;
			let insertHtml = '<a href="{href}" target="_blank">{name}</a>' ;
			insertHtml = insertHtml.replace("{href}",href).replace("{name}",name);
		    thiz.innerHTML = insertHtml;
		}

	}

	function editData2(thiz) {
		let activeInput = document.getElementsByClassName('active-input');
		if(activeInput.length > 0){
			return ;
		}
		let data = thiz.firstChild.innerHTML ;
		var input = document.createElement("input");
		input.value = data ;
		input.setAttribute("class", "active-input");
		thiz.innerHTML = '';
        thiz.appendChild(input);
		input.focus();
		input.onblur = function(){
			let href = input.value;
			if(!isUrl(href)){
				alert("Please enter a valid web address");
				//input.focus();
				return ;
			}
			let insertHtml = '<a href="{href}" target="_blank">{href}</a>' ;
			//alert(insertHtml);
			insertHtml = insertHtml.replace("{href}",href).replace("{href}",href);
		    thiz.previousElementSibling.firstChild.setAttribute("href",href);
		    thiz.innerHTML = insertHtml;
		}

	}

	//点击编辑文本框事件
	function editData3(thiz) {
		let activeInput = document.getElementsByClassName('active-input');
		let inputEl = thiz.getElementsByTagName("input");
		if(activeInput.length > 0){
			return ;
		}
		let data = inputEl.length > 0 ? inputEl[0].value : thiz.innerHTML;
		var input = inputEl.length > 0 ? inputEl[0] : document.createElement("input");
		input.value = data ;
		input.setAttribute("class", "active-input");
		thiz.innerHTML = '';
        thiz.appendChild(input);
		input.focus();
		input.onblur = function(){
			if(!input.value.trim()){
				alert("Please enter the Author");
				//input.focus();
				return ;
			}
			thiz.innerHTML = input.value;
		}

	}

	function getTemp(){
		let temp = `
		<ul class="data" id="addNews">
				<li class="Name" onclick="editData1(this)"><input type="text" name="name" placeholder="Name" id="refName" /></li>
				<li class="Link" onclick="editData2(this)"><input type="text" name="link" placeholder="Link" id="refLink" /></li>
				<li class="Author" onclick="editData3(this)"><input type="text" name="Author" placeholder="Author" id="Author" /></li>
				<li class="Date">{date}</li>
		</ul>
		`;
		return temp.replace("{date}",new Date().format("yyyy-MM-dd")) ;
	}

	function addRefPrepare(){
		let newLi = document.getElementById("addNews");
			if(newLi){
				alert("Only one reference can be added at a time");
				return ;
			}
		let ulList = document.getElementsByTagName("ul");
		let listLength = ulList.length ;
		let ulEme = ulList[listLength-2];
		let temp = getTemp();
		ulEme.insertAdjacentHTML('afterend', temp);
		newLi = document.getElementById("addNews");
		let liEms = newLi.getElementsByTagName("li");
		liEms[0].click();
		liEms[1].click();
		liEms[2].click();
	}

	//save reference
	function addRef(){
		let name = document.getElementById("refName").value.trim();
		let link = document.getElementById("refLink").value.trim();
		let author = document.getElementById("refAuthor").value.trim();
		if(!name){
			alert("Please enter name");
			return ;
		}
		if(!link){
			alert("Please enter link");
			return ;
		}
		if(!author){
			alert("Please enter author");
			return ;
		}

		//save data 

		//replace data 
		document.getElementById("refName").parentNode.parentNode.removeAttribute("id");
		document.getElementById("refName").parentNode.innerHTML = "<a href='{link}' target=_blank'>{name}</a>".replace("{link}",link).replace("{name}",name);
		document.getElementById("refLink").parentNode.innerHTML = "<a href='{link}' target=_blank'>{link}</a>".replaceAll("{link}",link);
		document.getElementById("refAuthor").parentNode.innerHTML = author;
		document.getElementById("saveBut").parentNode.innerHTML = new Date().format('yyyy-MM-dd');
		
	}
</script>
</body>
</html>
