<!DOCTYPE html>
<html lang="en">
<head>
<title>Task</title>
<link href="../public/stylesheets/studbud.css" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" href="../favicon.ico" />
<script src="../public/javascripts/DateUtil.js"></script>
</head>

<body>
<div class="home-box">
	<div class="home-left">
		<div class="logo-box"><a href="home.html"><img src="../public/images/logo.png" alt="" /></a></div>
		<div class="list1"><a href="home.html">Home</a></div>
		<div class="list2-current"><a href="task.html">Task</a></div>
		<div class="list3"><a href="timer1.html">Timer</a></div>
		<div class="list4"><a href="music.html">Music</a></div>
		<div class="list5"><a href="ReadingList.html">Reading list</a></div>
	</div>
	<div class="home-right">
		<div class="right-top">
			<p>StudBud - Task</p>						
			<div class="picture"><a href="#"><img src="../public/images/picture.png" alt="" /></a></div>
			<div class="news"><a href="#"><img src="../public/images/news.png" alt="" /></a></div>
		</div>
		<div class="search-box">
			<div class="search-frame">
			<a href="#"><img src="../public/images/search.png"></a>
			<input name="" type="text">
		  </div>
		</div>
		<div class="reading-add">
			<button onclick="addTaskList()">add new task list</button>
		</div>
		<!-- <div class="reading-Popup" id="readingPopup" onmouseleave="hidePriority(this)">
			<ul>
			  <li class="red" onclick="changePriority(this,1)">High Priority</li>
			  <li class="blue" onclick="changePriority(this,2)">Medium Priority</li>
			  <li class="green" onclick="changePriority(this,3)">Low Priority</li>
			</ul>
		</div> -->

		<div class="reading-red">						
		  <div class="title-content">		  
		    <ul>
		      <li class="reading-ioc" ><img src="../public/images/down.png"></li>
		      <li class="reading-title" onclick="editData1(this)">Close to Deadline</li>
		      <li class="reading-choice">0</li>
			  <li class="title-time">Completion time</li>
			  <li class="title-date">Due date</li>
	        </ul>
	      </div>
		  <!-- <div class="title-current">		   -->
			<div class="title-content">	
		    <ul>
		      <li class="reading-ioc"><img src="../public/images/priority_1.png" onmouseover="showPriority(this)"></li>
		      <li class="reading-content" onclick="editData1(this)">Web App prototype</li>
		      <li class="reading-choice" onclick="finishTask(this)"><a href="#"><img src="../public/images/pic9.png"></a></li>
			  <li class="title-time">3day,10hours</li>
			  <li class="title-date" onclick="editData2(this)">2022-06-11</li>
	        </ul>
	      </div>
		  <div class="title-content">		  
		    <ul>
		      <li class="reading-ioc"><img src="../public/images/priority_0.png" onmouseover="showPriority(this)"></li>
		      <li class="reading-content" onclick="editData1(this)">Research Report</li>
		      <li class="reading-choice" onclick="finishTask(this)"><a href="#"><img src="../public/images/pic9.png" ></a></li>
			  <li class="title-time">3day,10hours</li>
			  <li class="title-date" onclick="editData2(this)">2022-06-10</li>
	        </ul>
	      </div>
		  <div class="title-content">		  
		    <ul>
		      <li class="reading-ioc">0</li>
		      <li class="reading-content"><a href="#" onclick="addTaskPrepare(this)">+ Add New tasks</a></li>		      
	        </ul>
	      </div>		 
	    </div>
		<div class="reading-blue">
		 <div class="title-content">		  
		    <ul>
		      <li class="reading-ioc"><img src="../public/images/down.png"></li>
		      <li class="reading-title" onclick="editData1(this)">In Progress</li>
		      <li class="reading-choice">0</li>
			  <li class="title-time">Completion time</li>
			  <li class="title-date">Due date</li>
	        </ul>
	      </div>
		  <div class="title-content">		  
		    <ul>
		      <li class="reading-ioc"><img src="../public/images/priority_0.png" onmouseover="showPriority(this)"></li>
		      <li class="reading-content" onclick="editData1(this)">Essay</li>
		      <li class="reading-choice" onclick="finishTask(this)"><a href="#"><img src="../public/images/pic9.png" ></a></li>
			  <li class="title-time">3day,10hours</li>
			  <li class="title-date" onclick="editData2(this)">2022-06-16</li>
	        </ul>
	      </div>
		  <div class="title-content">		  
		    <ul>
		      <li class="reading-ioc"><img src="../public/images/priority_0.png" onmouseover="showPriority(this)"></li>
		      <li class="reading-content" onclick="editData1(this)">Design Brief</li>
		      <li class="reading-choice" onclick="finishTask(this)"><a href="#"><img src="../public/images/pic9.png" /></a></li>
			  <li class="title-time">3day,10hours</li>
			  <li class="title-date" onclick="editData2(this)">2022-06-20</li>
	        </ul>
	      </div>
		  <div class="title-content">		  
		    <ul>
		      <li class="reading-ioc">0</li>
		      <li class="reading-content"><a href="#" onclick="addTaskPrepare(this)">+ Add New tasks</a></li>		      
	        </ul>
	      </div>
		</div>
		<div class="reading-green">
		 <div class="title-content">		  
		    <ul>
		      <li class="reading-ioc"><img src="../public/images/down.png"></li>
		      <li class="reading-title">Complete</li>
		      <li class="reading-choice">0</li>
			  <li class="title-time">Completion time</li>
			  <li class="title-date">Due date</li>
	        </ul>
	      </div>
		  <div class="title-content">		  
		    <ul>
				<li class="reading-ioc"><img src="../public/images/priority_0.png"></li>
				<li class="reading-content">Challenge</li>
				<li class="reading-choice"><a href="#"><img src="../public/images/pic11.png" /></a></li>
				<li class="title-time">0days</li>
				<li class="title-date">2022-06-01</li>
			  </ul>
	      </div>
		  <div class="title-content">		  
		    <ul>
		      <li class="reading-ioc"><img src="../public/images/priority_0.png"></li>
		      <li class="reading-content">Take_home_1</li>
		      <li class="reading-choice"><a href="#"><img src="../public/images/pic11.png"/></a></li>
			  <li class="title-time">0days</li>
			  <li class="title-date">2022-06-01</li>
	        </ul>
	      </div>
		</div>
	</div>
</div>
<script>

	function getTaskListTemp(){
		let temp = `
		<div class="reading-new">
		 <div class="title-content">		  
		    <ul>
		      <li class="reading-ioc"><img src="../public/images/down.png"></li>
		      <li class="reading-title" onclick="editData1(this)"><input type="text" placeholder="list name"/></li>
		      <li class="reading-choice">0</li>
			  <li class="title-time">Completion time</li>
			  <li class="title-date">Due date</li>
	        </ul>
	      </div>
		  <div class="title-content">		  
		    <ul>
		      <li class="reading-ioc">0</li>
		      <li class="reading-content"><a href="#" onclick="addTaskPrepare(this)">+ Add New tasks</a></li>		      
	        </ul>
	      </div>
		</div>
		`;
		return temp ;
	}

	window.onload = function(){
		
		let priorityList = document.querySelectorAll('img.priority-ico');
		for(let i = 0 ; i < priorityList.length ; i ++){
			let priorityElem = priorityList[i];
			priorityElem.addEventListener('click', () => {
				this.parentNode.parentNode.parentNode.insertAdjacentHTML('beforebegin', getPriorityTemp());
			});
		}

		let dateList = document.querySelectorAll("li.title-date");
		let now = new Date().format('yyyy-MM-dd hh:mm:ss') ;
		for(let i = 0 ; i < dateList.length ; i ++){
			let dateStr = dateList[i].innerHTML ;
			if(isDate(dateStr)){//
				let dueDateStr = new Date(dateStr).format('yyyy-MM-dd hh:mm:ss') ;
				let diffTim = diffTime(dueDateStr,now);
				dateList[i].previousElementSibling.innerHTML = diffTim ;
			}
		}

	}

	function addTaskList(){
		let temp = getTaskListTemp();
		let greenEl = document.querySelector("div.reading-green");
		greenEl.insertAdjacentHTML('beforebegin', temp);
	}

	function finishTask(thiz){
		let imgEl = thiz.getElementsByTagName("img")[0];
		let srcImg = imgEl.getAttribute("src").replace("pic9.png","pic11.png");
		imgEl.setAttribute("src",srcImg);
		let divEl = thiz.parentNode.parentNode ;
		document.querySelector("div.reading-green").appendChild(divEl);
	}

	function editData1(thiz) {
		let activeInput = document.getElementsByClassName('active-input');
		let inputEl = thiz.getElementsByTagName("input");
		if(activeInput.length > 0){
			return ;
		}
		let data = inputEl.length > 0 ? inputEl[0].value : thiz.innerHTML;
		let input = inputEl.length > 0 ? inputEl[0] : document.createElement("input");
		input.value = data ;
		input.setAttribute("class", "active-input");
		thiz.innerHTML = '';
        thiz.appendChild(input);
		input.focus();
		input.onblur = function(){
			let name = input.value;
			if(!name.trim()){
				alert("Please enter the task Name");
				//input.focus();
				return ;
			}
		    thiz.innerHTML = name;
		}
	}

	function editData2(thiz) {
		let activeInput = document.getElementsByClassName('active-input');
		let inputEl = thiz.getElementsByTagName("input");
		if(activeInput.length > 0){
			return ;
		}
		let data = inputEl.length > 0 ? inputEl[0].value : thiz.innerHTML;
		var input = inputEl.length > 0 ? inputEl[0] : document.createElement("input");
		input.value = data ;
		input.setAttribute("class", "active-input");
		thiz.innerHTML = '';
        thiz.appendChild(input);
		input.focus();
		input.onblur = function(){
			let dueDate = input.value;
			if(!isDate(dueDate)){
				alert("Illegal due date \n The legal format is: YYYY-MM-DD");
				return ;
			}
		    thiz.innerHTML = dueDate;
			let now = new Date().format('yyyy-MM-dd hh:mm:ss') ;
			let dueDateStr = new Date(dueDate).format('yyyy-MM-dd hh:mm:ss') ;
			let diffTim = diffTime(dueDateStr,now);
			thiz.previousElementSibling.innerHTML = diffTim ;
			thiz.parentNode.parentNode.removeAttribute("id");
		}
	}

	function getTemp(){
		let temp = `
		<div class="title-content" id="addTask">		  
		    <ul>
		      <li class="reading-ioc" onmouseover="showPriority(this)"><img src="../public/images/priority_0.png"></li>
		      <li class="reading-content"  onclick="editData1(this)"><input type="text" placeholder="Task" name="Task Name" id="taskName"/></li>
		      <li class="reading-choice" onclick="finishTask(this)"><a href="#"><img src="../public/images/pic9.png" /></a></li>
			  <li class="title-time">0day,0hour</li>
			  <li class="title-date"  onclick="editData2(this)"><input type="text" placeholder="Due Date" name="dueDate" id="dueDate"/></li>
	        </ul>
	      </div>
		`;
		return temp ;
	}

	function getPriorityTemp(){
		let temp = `
		<div class="reading-Popup" onmouseleave="hidePriority(this)">
		  <ul>
		    <li class="red" onclick="changePriority(this,1)">High Priority</li>
		    <li class="blue" onclick="changePriority(this,2)">Medium Priority</li>
		    <li class="green" onclick="changePriority(this,3)">Low Priority</li>
	      </ul>
	    </div>
		`;
		return temp ;
	}

	function showPriority(thiz){
		let temp = getPriorityTemp();
		thiz.parentNode.parentNode.parentNode.insertAdjacentHTML('beforebegin', temp);
	}

	function hidePriority(thiz){
		thiz.parentNode.removeChild(thiz);
	}

	//change Priority
	function changePriority(thiz,priority){
		thiz.parentNode.parentNode.nextElementSibling.getElementsByTagName("li")[0].firstChild.setAttribute("src","../public/images/priority_"+priority+".png");
	}

	function addTaskPrepare(thiz){
		let newRecord = document.getElementById("addTask");
		if(newRecord){
			alert("Only one task can be added at a time");
			return ;
		}
		// let list = document.querySelector("div.reading-blue").getElementsByTagName("div");
		// let listLength = list.length ;
		let newDiv = thiz.parentNode.parentNode.parentNode;
		let temp = getTemp();
		//alert(temp)
		newDiv.insertAdjacentHTML('beforebegin', temp);
		divEl = document.getElementById("addTask");
		let liEms = divEl.getElementsByTagName("li");
		//alert(liEms.length)
		// liEms[0].click();
		liEms[1].click();
		liEms[4].click();
	}

	//save task
	function addTask(){
		let taskName = document.getElementById("taskName").value.trim();
		let dueDate = document.getElementById("dueDate").value.trim();
		if(!taskName){
			alert("Please enter task name");
			return ;
		}
		if(!dueDate){
			alert("Please select Due Date");
			return ;
		}
		//save data 

		//replace data 
		let now = new Date().format('yyyy-MM-dd hh:mm:ss') ;
		let dueDateStr = new Date(dueDate).format('yyyy-MM-dd hh:mm:ss') ;
		let diffTim = diffTime(dueDateStr,now);
		document.getElementById("taskName").parentNode.parentNode.parentNode.removeAttribute("id");
		document.getElementById("taskName").parentNode.innerHTML = taskName;
		document.getElementById("dueDate").parentNode.innerHTML = diffTim;
		document.getElementById("saveBut").parentNode.innerHTML = dueDate;
		
	}
</script>
</body>
</html>
